body{
min-height: 100%;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
}

.contactTop{
    list-style-type:none;
}

#DamienLogo{
    width: 80px;
    height: auto;
}

.left-info{
    background-color: skyblue;
}

.right-info{
    background-color: thistle;
}

.carousel-story img{
     width: 200px;
     height: 200px;
 }

 .slick-prev:before, .slick-next:before { 
    color:red !important;
}

.small-text{
    text-align: center;
    font: 5;
}

footer{
    margin-top: 30px;
    padding-top: 30px;
    background-color: whitesmoke;
}